ul {
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 90%;
}

body {
  background-color: #f6f6f6;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

section {
  height: 100%;
}
