.wrap {
  position: relative;
  max-width: 500px;
  background: #fff;
  min-height: 320px;
  border: none;
  box-shadow: 0 5px 8px 0 #bebabe;
  background-color: #f1f2f5;

  h2,
  li,
  label {
    width: 100%;
    margin: 0;
    background-color: white;
  }

  .editable-label:focus {
    background-color: #e0e1e1;
    color: #999797;
    height: 100%;
    padding: 14px;
  }

  h2 {
    color: #545862;
    font-size: 15px;
    font-weight: 400;
    padding: 1rem;
    line-height: 20px;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .reset {
    cursor: pointer;
  }

  #task {
    width: 100%;
    padding: 15px;
    padding: 0 40px 0 1rem;
    line-height: 50px;
    height: 50px;
    font-style: italic;
  }

  ul {
    width: 100%;
  }

  input,
  li {
    border: none;
    border-bottom: 1px solid #ebebeb;
  }

  li {
    display: flex;
    align-items: center;
    padding: 15px 15px;

    label {
      padding-left: 15px;
    }

    .taskdone {
      text-decoration: line-through;
    }

    .remove {
      color: #dee1e4;
      cursor: pointer;
    }
  }

  .form-check-input[type=checkbox] {
    border: 1px solid #a8a8a8;
  }

  .clear {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    margin: 1rem auto;
    display: block;
  }
}

.top-list {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #ebebeb;

  .clear-all {
    margin-right: 15px;
    background-color: white;
  }
}
